@{
    ViewBag.Title = "Settings";
}

<h3>Ustawienia</h3>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3 control-label">
            @Html.ActionLink("Zmiana hasła", "ChangePassword")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            @Html.ActionLink("Zmiana danych", "ChangePassword")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            @Html.ActionLink("Usunięcie konta", "ChangePassword")
        </div>
    </div>
</div>